body {
  display: flex;
  justify-content: center;
  background: #c5c5c5;
  margin: 0;
  font-family: monospace;
}

#root {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: #fffaed;
  flex: 0 1 750px;
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
  padding-bottom: 15px;
  flex-wrap: wrap;
}
#carlo-icon {
    display:block;
    margin:auto;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
}
.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);*/
  padding: 10px;
}
.controls > * {
  margin: 15px !important;
  flex: 1 1 auto;
}

.controls .box-1 > *,
.controls .box-2 > *,
.controls .box-3 > * {
  flex: 1 1 auto;
}

.controls .box-1 > * {
  margin: 0 !important;
}

.controls .box-2 > *,
.controls .box-3 > * {
  margin: 0 5px !important;
}

.sheet {
  font-family: monospace;
  white-space: pre;
  overflow: auto;
  line-height: 1.5;
}

.artist {
  font-size: 16px;
  font-weight: bold;
}

.song {
  font-size: 14px;
}

.chords {
  margin-top: 15px;
  font-size: 12px;
}
.chords > div{
  display: contents;
}